/*Prima ry color*/
$primary-color: #F5F5F5;

$yellow: #FFD052;
$active:#CE2553; 
$title_h1: #011F45;
//font-size
$font-size-nav: 1.375rem;
$font-size-text: 1.563rem;

//Btns
$purpleBtn: #8E2091;
$redBtn: #CB2350;
$box-shadows: 0px -2px 6px 0px;




*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

li{
  list-style-type: none;
}

a{
  text-decoration: none;
}

body{
  font-family: 'Avenir';
  color: #000;
  height: auto;
  background-color: $primary-color;
  
}
//HOME
.header_imagine{
  //background-color: lightgreen;
  min-width: 100%;
  height: auto;
}
  
//NAVIGATION
.nav-header{
  width: 100%;
  display: flex;
  justify-content:space-around;
  align-items:center;
  background-color: $primary-color;
  padding: 25px;
  font-size: $font-size-nav;
  font-weight: 600;
  box-shadow: $box-shadows;
  position: fixed;
  z-index: 1000;

  .logo-nav{
    display: none;
  }

  
}

.listul-cartConnect{
  margin-left: 20%;
  //Ul nav
  .list-nav, .popBtn{
    display: flex;
    li{
      margin-left: 25px;

      a{
        color: #000;
      }
      a.active{
        color: $active;
      }
      a:hover{
        color: $redBtn;
      }
    }

  }
  //Cart & Connexion
  display: flex;
  .fas{
    margin: 0 25px;
  }

  
  

}

//TOGGLE NAV
.toggle-nav{
  display: none;
}

//END //NAVIGATION

//SECTION HEADER-TITLE AND IMAGES
.header-titleImg{
  width: 100%;
  height: 100vh;
  //padding-top: 75px;
  background-color: #FFD052;
  display: flex;
  justify-content: space-between;
  align-content: center;


}

.header-title{
  display: flex;
  justify-content: flex-end;
  width: 60%;
  background-color: #F5F5F5;
  
  color: #011F45;
  
  h1{
    font-size: 3.125rem;
    width: 100%;
    text-shadow: 3px 2px 3px #0000005e;
    padding: 340px 0 40px 100px;
  }
  h4{
    font-size: 25px;
    font-weight: 800;
    padding: 20px 0 80px 100px;
  }

  .btns{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    margin-left: 100px;

    button{
      justify-content: center;
      align-items: center;
      width: 220px;
      padding: 15px;
      background-color: #fff;
      border: none;
      border-radius: 100px;
      box-shadow: 3px 3px 2px 0px #0000001c;
      font-size: 25px;
      font-weight: 600;
      cursor: pointer;
    }

    .booking{
      color: #8E2091;
    }
    .training{
      color: #CB2350;
    }
    
  }
  .bck-curved{
    width: 40%;
    background-color: #F5F5F5;
    background-image: url('/images/Path-108.svg');
    background-repeat: no-repeat;
    background-size: cover;
    
  }
  
}
.title{
  width: 70%;
}
.header-img-bck{
  background-color: #335076;
  width: 40%;
  padding-top: 80px;

  .images-1{
    width: 250px;
    height: 250px;
    background-color: purple;
    border: solid 8px #fff;

    
  }
  .images-2{
    width: 350px;
    height: 350px;
    background-color: purple;
    border: solid 8px #fff;
  }
  
  
}







//ABOUT
.about{
  width: 100%;
  height: auto;
  background-color: lightgreen;


  .container-about{
    width: 100%;
    height: auto;
    background-color: lightskyblue;
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
  .about-img-form{
    width: 25%;
    background-color: #fff;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    .about-bck{
      width: 300px;
      height: 80%;
      background-color: #fff;
      background-image: url('/images/illustarted-purple-forms.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      object-fit: cover;
      filter: opacity(.8);
      border-top-right-radius: 53px;
      padding-top: 180px;
      z-index: 10;

      .about-descript-img{
        width: 300px;
        height: 300px;
        background-color: purple;
        border: solid 8px #fff;
        margin-left: 20px;
        


      }
    }
    .about-yeloow{
      width: 100px;
      height: 70%;
      background-color: $yellow;
      border-top-right-radius: 53px;
      padding-bottom: 30px;
    }


  }
  article{
    width: 70%;
    background-color:#fff;
    height: 100vh;
    padding: 130px 100px 0 100px;
    color: #011F45;

    h2{
      font-size: 3.5rem;
    }
    p{
      font-size: 1.5625rem;
      line-height: 1.9;
      padding-top: 60px;
    }
  }
  .about-yellow-form{
    width: 5%;
    background-color:#fff;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .about-right-yellow{
      width: 100%;
      height: 70%;
      background-color: $yellow;
      border-top-left-radius: 53px;
    }
  }

}


//SPEAKERS
.speakers{
  width: 100%;
  height: auto;
  background-color: #F5F5F5;
  display: flex;
  justify-content: center;
  padding: 200px;

}

.speakers-guest-page{
  width: 100%;
  height: auto;
  background-color: $primary-color;

  
}

.article-page{
  //background-color: lightgreen;
  padding-bottom: 60px;
  
  h2{
    color: #011F45;
    font-size: 3.5rem;
    padding-bottom: 120px;
  }

  article{
    display: flex;
    justify-content: center;
    margin-bottom: 140px;
    gap: 40px;

    .speaker-article-img{
      min-width: 350px;
      height: 350px;
      background-color: #8B1F93;

      img{
        min-width: 350px;
        height: 350px;
        object-fit: cover;
      }
      
    }
    .speaker-description{
      width: 60%;
      color: #011F45;
      font-size: 25px;
      //background-color: #F5F5F5;

      h3{
        font-weight: 900;
        padding-bottom: 10px;
        
      }
      h4{
        font-weight: 500;
        padding-bottom: 40px;
        color: #CE2553;
      }
      p{
        line-height: 1.9;
      }
      .btn{
        display: flex;
        padding-top: 60px;
        gap: 20px;
        

        button{
          width: 180px;
          color: #CB2350;
          background-color: #fff;
          box-shadow: 3px 3px 2px 0px #0000001c;
          font-size: 25px;
          font-weight: 600;
          padding: 20px;
          border: none;
          border-radius: 50px;
          cursor: pointer;
        }
      }
      
    }
  }
}

.number-page{
  //background-color: #FFD052;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;

  button{
    color: #CE2553;
    font-size: 25px;
    cursor: pointer;
    border: none;
    background-color: transparent;
  }

  p{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    color: #8E2091;
    font-size: 25px;
    padding: 10px;
    border: solid 1px #8E2091;
    border-radius: 100px;
    cursor: pointer;
  }

}



//THEMES
.themes{
  background-color: #fff;
  width: 100%;
  height: auto;

  .curved-form{
    width: 100%;
    height: 99px;
    background-color: purple;
  }
}

.themes-container{
  width: 100%;
  //height: auto;
  padding: 200px;
  //background-color: #FFD052;

  h2{
    color: #011F45;
    font-size: 3.5rem;
    padding-bottom: 160px;
  }

}

.article-grid{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 50px;
  

  article{
    padding: 20px;
    border-radius: 9px;
    background-color: #fff;
    font-size: 1.375rem;
    color: #011F45;
    box-shadow: 0px 0px 6px 0px #00000059;

    &:hover{
      //transform: scale(1.1);
      transform: rotate(-2deg);
      box-shadow: 2px 8px 10px 0px #00000059;
    }

    

    img{
      width: 100%;
      height: 200px;
      margin-top: -40px;
      border-top-left-radius: 9px;
      border-top-right-radius: 9px;
      object-fit: cover;
    }

    h4{
      font-weight: 900;
      padding-top: 30px;
    }

    p{
      line-height: 1.9;
      padding: 20px 0 20px 0;

    }

    
  }
}



//PARTENAIRS
.partners{
  width: 100%;
  height: auto;

  .svg-shape{
    width: 100%;
    height: 100px;
    background-color: #8B1F93;
  }
  

}

.each-partner{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  background-color: #F5F5F5;
  padding: 80px 0 160px;

  .partner-one{
    width: 150px;
    height: 100px;
    
    img{
      width: 150px;
      height: 100px;
    }
  }
  .partner-two{
    width: 100px;
    height: 100px;
    
    img{
      width: 100px;
      height: 100px;
    }
  }
  .partner-three{
    width: 114px;
    height: 100px;

    img{
      width: 114px;
      height: 100px;
    }
  }
  .partner-four{
    width: 100px;
    height: 100px;

    img{
      width: 100px;
      height: 100px;
    }
  }

}


//CONTACT
.contact{
  width: 100%;
  height: auto;
  background-color: #fff;
  


}

.two-contacs{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .map{
    width: 470px;
    height: 350px;
    background-color:gray;
    border-radius: 9px;
    position: absolute;
    top: 25px;
    right: 40px;
    z-index: 20;
  }
}

.contact-one{
  width: 80%;
  height: 400px;
  //background-color: lightgreen;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  

  .newletter-form{
    //background-color: $redBtn;
    height: 400px;
    padding: 100px 0 0 16px;
    h6{
      font-size: 25px;
      font-weight: 500;
      color: $title_h1;
      padding-left: 20px;
      padding-bottom: 50px;

    }

    form{
      display: flex;
      justify-content: center;
      input{
        width: 400px;
        height: 55px;
        padding-left: 15px;
        border: solid 1px $purpleBtn;
        border-top-left-radius: 120px;
        border-bottom-left-radius: 120px;
        font-size: 20px;

      }

      button{
        min-width: 160px;
        height: 55px;
        border: none;
        border-radius: 80px;
        margin-left: -60px;
        background-color: $purpleBtn;
        color: #fff;
        font-size: 1.2rem;
        font-weight: 500;
        cursor: pointer;
        
      }
    }
    //SOCIAL MEDIA
    .social-medias{
      display: flex;
      justify-content: center;
      gap: 20px;
      align-items: center;
      padding: 40px 0 80px;

      .linked-in{
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $purpleBtn;
        cursor: pointer;
        
        :hover{
          color: rgb(8, 138, 198);
          transition: ease-in-out 1s;
        }
      }
      .twitter{
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $purpleBtn;
        cursor: pointer;
        
        :hover{
          color:rgb(79, 187, 237);
          transition: ease-in-out 1s;
        }
        
      }
      .facebook{
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $purpleBtn;
        cursor: pointer;
        
        :hover{
          color:rgb(5, 76, 169);
          transition: ease-in-out 1s
        }
      }

    }
  }

  .address{
    background-color: #fff;
    height: 400px;
    padding: 100px 0 0 50px;
    p{
      font-size: 25px;
      line-height: 1.5;
      //background-color: rgb(243, 107, 107);
    }
  }
  

}



.contact-two{
  width: 20%;
  height: 400px;
  background-color: purple;

  img{
    width: 100%;
    height: 400px;
    background-size: cover;
    object-fit: cover;
  }


}


//FOOTER
footer{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #223C5D;
  color: #fff;
  font-size: 25px;
  padding: 50px;
}


//SCHEDULE
.schedule-all{
  background-color: #F5F5F5;
  height: auto;
  padding-bottom: 90px;
}
.schedule{
  width: 100%;
  height: auto;
  padding: 75px 0 0;
  background-color: #fff;


}

.schedule-description{
  //background-color: cornflowerblue;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;

  .schedule-text{
    padding: 100px 80px 200px 90px;
    width: 60%;
    h1{
      width: 80%;
      font-size: 2.5rem;
      font-weight: 900;
      color: #011F45;
      line-height: 1.3;

    }
    p{
      font-size: 25px;
      line-height: 1.5;
      color: #223C5D;
      padding-top: 40px;
    }
    
  }

  .schedule-img{
    width: 40%;
    //background-color: #FFD052;
    display: flex;
    justify-content: flex-end;
    padding-left: 140px;

    .schedule-img-bck{
      width: 300px;
      height: 80%;
      background-color: rgb(194, 9, 9);
      border-bottom-left-radius: 53px;
      background-image: url('/images/illustarted-purple-forms.jpg');
    }

    .schedule-ux-img{
      width: 400px;
      height: 400px;
      background-color: #8E2091;
      margin-left: -160px;
      margin-top: 50px;
      border: solid 8px #fff;

    }
  }

}

//Schedule days
.schedule-days{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 80px 170px 200px;
  margin-top: -90px;

  

  .monday, .tuesday, .wednesday, .thursday, .friday, .second-monday{
    .d-day{
      font-size: 25px;
      font-weight: 400;
      padding-bottom: 10px;
      color: #000;
    }
    .d-day-title{
      font-size: 25px;
      font-weight: 800;
      padding-bottom: 40px;
      color: #000;
    }
    p{
      font-size: 25px;
      line-height: 1.5;
      color: #000;
    }

    background-color: #a2c5f1;
    padding: 40px;
    border-radius: 9px;

    //:hover{
    //  background-image: url('/images/illustarted-purple-forms.jpg');
    //}
    
  }
  

}


//SCHEDULE HR SEPARATION
.schedule-separation{
  width: 50%;
  border: solid 3px #CE2553;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.curved-illu{
  width: 100%;
  height: auto;
  //background-color: $purpleBtn;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;

  svg{
    width: 100%;
    height: 100%;
  }
}


//BOOKING
.booking{
  background-color: #fff;
  width: 100%;
  height: auto;
  padding-top: 76px;
}

.book-text-img{
  display: flex;
  height: auto;

  .booking-text{
    //background-color: steelblue;
    width: 70%;
    padding: 80px 100px 80px 100px;

    h1{
      font-size: 2.5rem;
      font-weight: 900;
      color: $title_h1;
      width: 70%;
      padding-bottom: 80px;
    }
    p{
      font-size: 25px;
    }

  }

  //pass booking
  .booking-pass{
     display: grid;
     grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
     gap: 20px;
     padding: 100px 0 60px;

     .text{
       display: flex;

       .text-descript{
         width: 80%;
         padding: 20px;
         background-color: #335E95;
         border-top-left-radius: 9px;

         h3{
           font-size: 20px;
           font-weight: 900;
           color: #fff;
         }
         p{
           color: #fff;
           line-height: 1.2;
           padding: 20px 0 12px;
         }
       }
       .buy{
         display: flex;
         justify-content: center;
         align-items: center;
         width: 20%;
         font-size: 22px;
         font-weight: 900;
         background-color: #223C5D;
         color: #fff;
         border-top-right-radius: 9px;
         cursor: pointer;
       }
     }
     .colour{
       background-color: #8B1F93;
       height: 25.38px;
       display: flex;
       justify-content: flex-end;
       border-bottom-left-radius: 9px;
       border-bottom-right-radius: 9px;

       p{
         color: #fff;
         margin-top: -27px;
         margin-right: 43px;
         font-size: 30px;
         font-weight: 900;
         text-shadow: 0 3px 2px #000;
       }
     }
  }

  .booking-image{
    //background-color: tan;
    width: 30%;
    height: 91vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-left: 80px;
  }

  .booking-bck-img{
    width: 300px;
    height: 80%;
    background-color: aliceblue;
    border-top-left-radius: 53px;
    background-image: url('/images/illustarted-purple-forms.jpg');

    .book-image{
      width: 350px;
      height: 350px;
      background-color: purple;
      margin-left: -100px;
      margin-top: 120px;
      border: solid 8px #fff;
    }
  }

}


//form
.form-book{
  //background-color: aquamarine;
  padding: 20px 0 30px 100px;
  p{
    font-size: 25px;
    color: #011F45;
    line-height: 1.5;
    
  }
  .appointment{
    font-weight: 800;
  }
}

.book{
  //background-color: #a2c5f1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 20px;
  padding: 80px 0 200px 15%;

  form{
    display: flex;
    flex-direction: column;
    //background-color: #CB2350;

    input{
      height: 63.25px;
      margin-bottom: 20px;
      border-radius: 9px;
      border: solid 2px #8B1F93;
      font-size: 20px;
      padding-left: 15px;
    }

    button{
      //width: 366px;
      height: 66.19px;
      border: none;
      border-radius: 50px;
      background-color: #8B1F93;
      color: #fff;
      font-size: 25px;
      font-weight: 600;
      cursor: pointer;
    }
  }

  .seat-left{
    //background-color: #FFD052;
    display: flex;
    justify-content: center;
    align-items: center;
    
    p{
      width: 300px;
      height: 300px;
      font-size: 30px;
      font-weight: 900;
      color: #fff;
      background-color: #CE2553;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

}


//TRAINING PAGE
.training{
  background-color: #fff;
  width: 100%;
  height: auto;
  padding: 75px 0 160px 0;
  display: flex;

}

.training-image-section{
  //background-color: #f03939;
  width: auto;
  z-index: 10;

  .training-image-bck{
    width: 300px;
    height: 480px;
    background-color: #fff;
    background-image: url('/images/illustarted-purple-forms.jpg');
    border-bottom-right-radius: 53px;
    padding: 60px;

    .trainin-img{
      width: 350px;
      height: 350px;
      background-color: $purpleBtn;
      border: solid 8px #fff;
      
      

    }
  
  }
}

.training-description{
  width: auto;
  //background-color: rgb(162, 0, 255);
  padding: 100px 0 20px 200px;

  h1{
    font-size: 2.5rem;
    font-weight: 900;
    color: #011F45;
  }
  p{
    font-size: 25px;
    line-height: 1.5;
    color: #223C5D;
    padding: 40px 160px 60px 0;
  }

  button{
    width: 220px;
    font-size: 22px;
    font-weight: 600;
    background-color: #fff;
    color: $purpleBtn;
    padding: 20px;
    border: none;
    border-radius: 100px;
    box-shadow: 3px 5px 6px 0px #0000004d;
    cursor: pointer;

  }
}

//section courses
.courses{
  width: 100%;
  height: auto;
  background-color: #F5F5F5;

  h1{
    font-size: 2.5rem;
    font-weight: 900;
    color: #011F45;
    padding: 100px 0 20px 200px;
  }

  
}

.curved-form{
  width: 100%;
  height: 71px;
  background-color: purple;
}

.all-courses{
  //background-color: rgb(79, 187, 237);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 20px;
  padding: 90px 250px 200px 250px;

  .courses-lesson{
    //background-color: #fff;

    .lesson-title{
      background-color: #fff;
      display: flex;
      justify-content: space-between;
      
      padding: 20px;
      border-radius: 9px;
      box-shadow: 0px 2px 2px 0px #0000004d;


      p{
        font-size: 25px;
        font-weight: 500;
        color: #011F45;
        padding-right: 50px;
      }

      button{
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        background-color: #fff;
        cursor: pointer;

        .plus-icon, .minus-icon{
          
          color: $purpleBtn;
          
        }
        .minus-icon{
          display: none;
        }
      }
    }
  }

  .lesson-text-img{
    padding: 20px;
    background-color: #fff;
    display: none;
    
    .lesson-img{
      width: 100%;
      height: 200px;
      background-color: $yellow;
      border-radius: 9px;
      margin-bottom: 40px;
    }

    .hours-rating{
      display: flex;
      justify-content: space-between;
      align-content: center;

      
      p{
        font-size: 22px;
        display: flex;

        .fas{
          color: $yellow;
          height: 2px;
        }
      }
      
    }

    .content-hour{
      color: $redBtn;
    }
    
    p{
      font-size: 25px;
      line-height: 1.5;
      padding-bottom: 20px;

      .read-more{
        font-size: 20px;
        font-weight: 600;
        color: $purpleBtn;
        cursor: pointer;
        padding-top: 20px;
      }
    }

    button{
      background-color: $yellow;
      color: #000;
      padding: 15px;
      border: none;
      border-radius: 50px;
      font-size: 20px;
      cursor: pointer;
    }
  }



}

hr{
  margin-bottom: 200px;
}

