$font-family: 'Lato',sans-serif;
$dark-blue-Colour: #011F45;
$red-Colour: #CB2350;
$purple-Colour: #8B1F93;
$yellow-Colour: #FEC52D;
$white-Colour: #fff;
$font-size-h2-title: 2.5rem;
$font-size-h4-title: 1.25rem;
$font-size-h5-title: 2.2rem;
$font-size-p: 1.125rem;
$font-size-p-price: 3rem;
$font-size-btn: 18px;
$font-Weight-400: 400;
$font-Weight-700: 700;
$font-Weight-900: 900;



.cart-container{
  width: 100%;
  height: auto;
  padding-top: 60px;
}

.curved-illu-cart{
  background-color: $white-Colour;
  width: 100%;
  height: 80px;

  img{
    width: 100%;
    height: 80px;
    background-size: cover;
    object-fit: cover;
  }
}

.cart{
  background-color: $white-Colour;
  width: 100%;
  height: auto;
  padding: 80px 100px 160px 100px;
  font-family: $font-family;
  color: $dark-blue-Colour;

  h2{
    font-size: $font-size-h2-title;
    font-weight: $font-Weight-900;
  }
}

.cart-content{
  width: 100%;
  height: auto;
  background-color: $white-Colour;
  padding: 80px 120px 80px 120px;
  display: flex;
  gap: 40px;

  .cart-courses{
    width: 700px;
    background-color: $white-Colour;
    border: solid 1px $purple-Colour;
    border-radius: 9px;
    padding: 40px;
    
    .one-course-bought{
      display: flex;
      width: auto;
      box-shadow: 0 2px 12px rgba(0, 0, 0, 0.142);
      border-left: solid 6px $purple-Colour;
      border-top-left-radius: 9px;
      border-bottom-left-radius: 9px;
      margin-bottom: 30px;
      

      .image-course{
        width: 183px;
        height: 178px;
        background-color: lightslategray;
      }
      .text-price-trash{
        background-color: $white-Colour;
        padding: 20px;
        width: 71%;
        
        h4{
          font-size: $font-size-h4-title;
          font-weight: $font-Weight-900;
        }
        p{
          font-size: $font-size-p;
          padding-top: 20px;
        }

        .price-trash-inc{
          display: flex;
          justify-content: space-between;
          align-items: center;

          .price-item{
            color: $red-Colour;
            font-weight: $font-Weight-700;
          }
          .increase-decrease{
            color: $red-Colour;
            
            .increase{
              cursor: pointer;
              color: $purple-Colour;
            }
            .decrease{
              cursor: pointer;
              color: $purple-Colour;
            }
          }
        }
      }
    }
  }
}

.cart-course-price{
  width: 400px;
  height: 400px;
  background-color: $white-Colour;
  border: solid 1px $purple-Colour;
  border-radius: 9px;
  padding: 40px;

  h5{
    font-size: $font-size-h5-title;
    font-weight: $font-Weight-700;
    padding-bottom: 20px;
  }

  p{
    font-size: $font-size-p-price;
    font-weight: $font-Weight-900;
    color: $red-Colour;
  }

  button{
    padding: 18px 25%;
    border: none;
    border-radius: 50px;
    background-color: $yellow-Colour;
    font-size: $font-size-btn;
    font-weight: $font-Weight-900;
    margin: 150px 20px 0 20px;
    cursor: pointer;
  }
}