$font-family: 'Lato',sans-serif;
$yellow-Colour: #FEC52D;
$regular-blue-Colour: #335E95;
$dark-blue-Colour: #011F45;
$red-Colour: #CB2350;
$purple-Colour: #8B1F93;
$gray-Colour: #F5F5F5;
$white-Colour: #fff;
$font-size-h2-title: 2.5rem;
$font-size-h3-title: 1.5rem;
$font-size-h4-title: 1.25rem;
$font-size-btn: 18px;
$font-size-price: 28px;
$font-size-next-prev: 25px;
$font-size-p: 1.375rem;
$font-size-form: 1.0625rem;
$font-family: 'Lato',sans-serif;
$font-Weight-400: 400;
$font-Weight-700: 700;
$font-Weight-900: 900;


.booking-container{
  background-color: cadetblue;
  padding-top: 60px;
  width: 100%;
  height: auto;
  font-family: $font-family;
  padding: 80px 100px 160px 100px;
  

  h2{
    font-weight: $font-Weight-900;
    font-size: $font-size-h2-title;
    color: $dark-blue-Colour;
    width: 40%;
    padding-top: 80px;
  }

  h4{
    font-size: $font-size-h4-title;
    padding: 60px 0;
  }

  .rendez-vous{
    font-weight: $font-Weight-900;
  }

}

.pass-image-content{
  //background-color: lightgrey;
  height: auto;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  

}

.choose-pass{
  width: 700px;
  //background-color: lightslategray;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.one-pass{
  //background-color: teal;
  display: flex;
  
  .pass-content{
    background-color: $regular-blue-Colour;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
    position: relative;

    h3{
      padding: 20px 0 10px 10px;
      font-size: $font-size-h3-title;
      color: $white-Colour;
    }
    .pass-text{
      padding: 0 20px 40px 10px;
      color: $white-Colour;
    }

    .purple{
      height: 20px;
      background-color: $purple-Colour;
      border-bottom-left-radius: 9px;
      
    }

    .price-pass{
      font-size: $font-size-price;
      font-weight: $font-Weight-900;
      color: $white-Colour;
      margin-left: 20px;
      position: absolute;
      top: 87px;
      left: 182px;
    }

  }
  .buy{
    background-color: $dark-blue-Colour;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
    cursor: pointer;

    p{
      font-size: $font-size-btn;
      font-weight: $font-Weight-900;
      color: $white-Colour;
    }

    
  }
  
}

.image-pass{
  width: 400px;
  height: 400px;
  background-size: cover;
  background-color: steelblue;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;

  img{
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  }
}

.form-rdv-seat{
  padding-top: 40px;
  background-color: lightsteelblue;
  display: flex;
  justify-content: center;
  gap: 30px;

  form{
    display: flex;
    flex-direction: column;
    gap: 10px;

    input{
      width: 260px;
      height: 55px;
      border: solid 1px $purple-Colour;
      border-radius: 9px;
      font-size: $font-size-form;
      padding-left: 12px;
      color: $dark-blue-Colour;

    }

    button{
      width: 260px;
      height: 55px;
      border: none;
      border-radius: 30px;
      background-color: $purple-Colour;
      color: $white-Colour;
      margin-top: 10px;
      font-size: $font-size-btn;
      font-weight: $font-Weight-900;
      cursor: pointer;
    }
  }

  .seat-left{
    width: 250px;
    height: 250px;
    background-color: $red-Colour;
  }
}

