@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.layout{
  max-width: 1440px;
  height: 100vh;
  margin: 0 auto;
}