$font-family: 'Lato',sans-serif;
$font-size-h1: 3rem;
$font-Weight-400: 400;
$font-Weight-700: 700;
$font-Weight-900: 900;


.header-container{
  background-color: red;
  padding-top: 60px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(550px, 1fr));

}

.header-text-container{
  background-color: blue;
  padding: 20px;
  

  .titles-btns{
    display: block;
    flex-flow:wrap;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -10%);

    h1{
      font-family: $font-family;
      font-size: $font-size-h1;
      font-weight: $font-Weight-900;
      line-height: 1.2;
      width: 70%;
      
    }
  }

  
}

.header-image-container{
  background-color: blueviolet;
}