$font-family: 'Lato',sans-serif;
$yellow-Colour: #FEC52D;
$regular-blue-Colour: #335E95;
$dark-blue-Colour: #011F45;
$red-Colour: #CB2350;
$purple-Colour: #8B1F93;
$gray-Colour: #F5F5F5;
$white-Colour: #fff;
$font-size-h2-title: 2.5rem;
$font-size-h3-title: 1.5rem;
$font-size-h4-title: 1.25rem;
$font-size-btn: 18px;
$font-size-price: 28px;
$font-size-next-prev: 25px;
$font-size-p: 1.375rem;
$font-size-form: 1.0625rem;
$font-family: 'Lato',sans-serif;
$font-Weight-400: 400;
$font-Weight-700: 700;
$font-Weight-900: 900;



.training-container{
  width: 100%;
  height: auto;
  padding-top: 60px;
  background-color: wheat;
  font-family: $font-family;
}

.train-img-text{
  background-color: white;
  display: flex;
  gap: 30px;
  padding: 80px 100px 160px 100px;

  .train-image{
    width: 350px;
    height: 350px;
    background-color: blue;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;

    img{
      width: 350px;
      height: 350px;
      background-size: cover;
      object-fit: cover;
      border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    }
  }

  .train-text{
    width: 60%;

    h2{
      color: #011F45;
      font-size: $font-size-h2-title;
      font-weight: $font-Weight-900;
    }

    p{
      padding-top: 40px;
      font-size: $font-size-p;
      line-height: 1.9;
    }

    button{
      margin-top: 40px;
      border: none;
      border-radius: 30px;
      padding: 17px 7%;
      font-size: $font-size-btn;
      font-weight: $font-Weight-700;
      color: $purple-Colour;
      background-color: $gray-Colour;
      cursor: pointer;
    }
  }
}

.curved-illustration{
  width: 100%;
  height: 80px;
  background-color: $gray-Colour;

  img{
    width: 100%;
    height: 80px;
    background-size: cover;
    object-fit: cover;
  }
}

.training-courses{
  padding: 80px 100px 160px 100px;
  background-color: $gray-Colour;

  h2{
    font-size: $font-size-h2-title;
    font-weight: $font-Weight-900;
  }
}

.courses-container{
  padding: 80px 120px;
  //background-color: $red-Colour;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  gap: 20px;
}

//.one-course{
  //background-color: $white-Colour;
//

.course-title{
  background-color: $white-Colour;
  display: flex;
  justify-content: space-between;
  padding: 18px;
  border-radius: 9px;
  box-shadow: 2px 2px 2px 0px rgba(74, 74, 74, 0.304);

  h4{
    font-size: $font-size-h4-title;
    font-weight: $font-Weight-700;
  }

  .course-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    background-color: transparent;

    .plus-icon, .minus-icon{
      color: $purple-Colour;
      font-size: $font-size-btn;
      font-weight: $font-Weight-700;
      cursor: pointer;
    }

    .minus-icon{
      display: none;
    }
  }
}

.course-content{
  background-color: $white-Colour;
  padding: 18px;

  .course-image{
    width: 100%;
    height: 200px;
    background-color: gray;
    border-radius: 9px;

    img{
      width: 100%;
      height: 200px;
      background-size: cover;
      object-fit: cover;
    }
  }

  .cont-price-rating{
    padding: 10px 0 ;
    //background-color: #fff;
    display: flex;
    justify-content: space-between;

    .content-price{
      p{
        line-height: 1.5;
        font-size: $font-size-p;
        color: $red-Colour;
      }
    }

    .content-rating{
      font-size: $font-size-p;

      .star{
        color: $yellow-Colour;
      }
    }
  }

  p{
    font-size: $font-size-p;
    line-height: 1.5;

    .read-more{
      color: $yellow-Colour;
      font-weight: $font-Weight-700;
      cursor: pointer;
    }
  }

  display: none;
}


