/*Prima ry color*/
*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Avenir";
  color: #000;
  height: auto;
  background-color: #F5F5F5;
}

.header_imagine {
  width: 100%;
  height: auto;
}

.nav-header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #F5F5F5;
  padding: 25px;
  font-size: 1.375rem;
  font-weight: 600;
  box-shadow: 0px -2px 6px 0px;
  position: fixed;
  z-index: 1000;
}
.nav-header .logo-nav {
  display: none;
}

.listul-cartConnect {
  margin-left: 20%;
  display: flex;
}
.listul-cartConnect .list-nav, .listul-cartConnect .popBtn {
  display: flex;
}
.listul-cartConnect .list-nav li, .listul-cartConnect .popBtn li {
  margin-left: 25px;
}
.listul-cartConnect .list-nav li a, .listul-cartConnect .popBtn li a {
  color: #000;
}
.listul-cartConnect .list-nav li a.active, .listul-cartConnect .popBtn li a.active {
  color: #CE2553;
}
.listul-cartConnect .list-nav li a:hover, .listul-cartConnect .popBtn li a:hover {
  color: #CB2350;
}
.listul-cartConnect .fas {
  margin: 0 25px;
}

.toggle-nav {
  display: none;
}

.header-titleImg {
  width: 100%;
  height: 100vh;
  background-color: #FFD052;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.header-title {
  display: flex;
  justify-content: flex-end;
  width: 60%;
  background-color: #F5F5F5;
  color: #011F45;
}
.header-title h1 {
  font-size: 3.125rem;
  width: 100%;
  text-shadow: 3px 2px 3px #0000005e;
  padding: 340px 0 40px 100px;
}
.header-title h4 {
  font-size: 25px;
  font-weight: 800;
  padding: 20px 0 80px 100px;
}
.header-title .btns {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  margin-left: 100px;
}
.header-title .btns button {
  justify-content: center;
  align-items: center;
  width: 220px;
  padding: 15px;
  background-color: #fff;
  border: none;
  border-radius: 100px;
  box-shadow: 3px 3px 2px 0px #0000001c;
  font-size: 25px;
  font-weight: 600;
  cursor: pointer;
}
.header-title .btns .booking {
  color: #8E2091;
}
.header-title .btns .training {
  color: #CB2350;
}
.header-title .bck-curved {
  width: 40%;
  background-color: #F5F5F5;
  background-image: url("/images/Path-108.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  width: 70%;
}

.header-img-bck {
  background-color: #335076;
  width: 40%;
  padding-top: 80px;
}
.header-img-bck .images-1 {
  width: 250px;
  height: 250px;
  background-color: purple;
  border: solid 8px #fff;
}
.header-img-bck .images-2 {
  width: 350px;
  height: 350px;
  background-color: purple;
  border: solid 8px #fff;
}

.about {
  width: 100%;
  height: auto;
  background-color: lightgreen;
}
.about .container-about {
  width: 100%;
  height: auto;
  background-color: lightskyblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about .about-img-form {
  width: 25%;
  background-color: #fff;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.about .about-img-form .about-bck {
  width: 300px;
  height: 80%;
  background-color: #fff;
  background-image: url("/images/illustarted-purple-forms.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  filter: opacity(0.8);
  border-top-right-radius: 53px;
  padding-top: 180px;
  z-index: 10;
}
.about .about-img-form .about-bck .about-descript-img {
  width: 300px;
  height: 300px;
  background-color: purple;
  border: solid 8px #fff;
  margin-left: 20px;
}
.about .about-img-form .about-yeloow {
  width: 100px;
  height: 70%;
  background-color: #FFD052;
  border-top-right-radius: 53px;
  padding-bottom: 30px;
}
.about article {
  width: 70%;
  background-color: #fff;
  height: 100vh;
  padding: 130px 100px 0 100px;
  color: #011F45;
}
.about article h2 {
  font-size: 3.5rem;
}
.about article p {
  font-size: 1.5625rem;
  line-height: 1.9;
  padding-top: 60px;
}
.about .about-yellow-form {
  width: 5%;
  background-color: #fff;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.about .about-yellow-form .about-right-yellow {
  width: 100%;
  height: 70%;
  background-color: #FFD052;
  border-top-left-radius: 53px;
}

.speakers {
  width: 100%;
  height: auto;
  background-color: #F5F5F5;
  display: flex;
  justify-content: center;
  padding: 200px;
}

.speakers-guest-page {
  width: 100%;
  height: auto;
  background-color: #F5F5F5;
}

.article-page {
  padding-bottom: 60px;
}
.article-page h2 {
  color: #011F45;
  font-size: 3.5rem;
  padding-bottom: 120px;
}
.article-page article {
  display: flex;
  justify-content: center;
  margin-bottom: 140px;
  gap: 40px;
}
.article-page article .speaker-article-img {
  min-width: 350px;
  height: 350px;
  background-color: #8B1F93;
}
.article-page article .speaker-article-img img {
  min-width: 350px;
  height: 350px;
  object-fit: cover;
}
.article-page article .speaker-description {
  width: 60%;
  color: #011F45;
  font-size: 25px;
}
.article-page article .speaker-description h3 {
  font-weight: 900;
  padding-bottom: 10px;
}
.article-page article .speaker-description h4 {
  font-weight: 500;
  padding-bottom: 40px;
  color: #CE2553;
}
.article-page article .speaker-description p {
  line-height: 1.9;
}
.article-page article .speaker-description .btn {
  display: flex;
  padding-top: 60px;
  gap: 20px;
}
.article-page article .speaker-description .btn button {
  width: 180px;
  color: #CB2350;
  background-color: #fff;
  box-shadow: 3px 3px 2px 0px #0000001c;
  font-size: 25px;
  font-weight: 600;
  padding: 20px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.number-page {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.number-page button {
  color: #CE2553;
  font-size: 25px;
  cursor: pointer;
  border: none;
  background-color: transparent;
}
.number-page p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  color: #8E2091;
  font-size: 25px;
  padding: 10px;
  border: solid 1px #8E2091;
  border-radius: 100px;
  cursor: pointer;
}

.themes {
  background-color: #fff;
  width: 100%;
  height: auto;
}
.themes .curved-form {
  width: 100%;
  height: 99px;
  background-color: purple;
}

.themes-container {
  width: 100%;
  padding: 200px;
}
.themes-container h2 {
  color: #011F45;
  font-size: 3.5rem;
  padding-bottom: 160px;
}

.article-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 50px;
}
.article-grid article {
  padding: 20px;
  border-radius: 9px;
  background-color: #fff;
  font-size: 1.375rem;
  color: #011F45;
  box-shadow: 0 2px 12px rgba(0, 40, 117, 0.06);
}
.article-grid article:hover {
  transform: rotate(-2deg);
  box-shadow: 0 2px 12px rgba(0, 40, 117, 0.2);
}
.article-grid article img {
  width: 100%;
  height: 200px;
  margin-top: -40px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  object-fit: cover;
}
.article-grid article h4 {
  font-weight: 900;
  padding-top: 30px;
}
.article-grid article p {
  line-height: 1.9;
  padding: 20px 0 20px 0;
}

.partners {
  width: 100%;
  height: auto;
}
.partners .svg-shape {
  width: 100%;
  height: 100px;
  background-color: #8B1F93;
}

.each-partner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  background-color: #F5F5F5;
  padding: 80px 0 160px;
}
.each-partner .partner-one {
  width: 150px;
  height: 100px;
}
.each-partner .partner-one img {
  width: 150px;
  height: 100px;
}
.each-partner .partner-two {
  width: 100px;
  height: 100px;
}
.each-partner .partner-two img {
  width: 100px;
  height: 100px;
}
.each-partner .partner-three {
  width: 114px;
  height: 100px;
}
.each-partner .partner-three img {
  width: 114px;
  height: 100px;
}
.each-partner .partner-four {
  width: 100px;
  height: 100px;
}
.each-partner .partner-four img {
  width: 100px;
  height: 100px;
}

.contact {
  background-color: #fff;
  width: 100%;
  height: auto;
}

.contact-container {
  display: flex;
  background-color: #fff;
}

.contact-newsletter {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
}
.contact-newsletter .letter-form {
  padding-top: 115px;
}
.contact-newsletter .letter-form p {
  color: #011F45;
  font-size: 1.375rem;
  font-weight: 600;
  padding: 0 0 20px 50px;
}
.contact-newsletter .letter-form form {
  padding-bottom: 20px;
}
.contact-newsletter .letter-form form .input-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-newsletter .letter-form form input {
  width: 70%;
  padding: 19px;
  border: solid 1px #8E2091;
  border-radius: 50px;
  font-size: 1.1875rem;
  color: #011F45;
}
.contact-newsletter .letter-form form button {
  width: 30%;
  border: none;
  border-radius: 50px;
  padding: 20px;
  margin-left: -80px;
  background-color: #8E2091;
  color: #fff;
  font-size: 1.1875rem;
  cursor: pointer;
}
.contact-newsletter .letter-form form .social {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #8E2091;
  cursor: pointer;
}
.contact-newsletter .adress {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 60px;
  font-size: 1.375rem;
  color: #011F45;
  line-height: 1.9;
}

.contact-map {
  width: 300px;
  padding: 40px;
  background-image: url("/images/illustarted-purple-forms.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  background-color: #8E2091;
}
.contact-map .contact-map-img {
  width: 400px;
  height: 300px;
  margin-left: -180px;
  border-radius: 9px;
}
.contact-map .contact-map-img iframe {
  width: 400px;
  height: 300px;
  border-radius: 9px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #223C5D;
  color: #fff;
  font-size: 25px;
  padding: 50px;
}

.schedule-all {
  background-color: #F5F5F5;
  height: auto;
  padding-bottom: 90px;
}

.schedule {
  width: 100%;
  height: auto;
  padding: 75px 0 0;
  background-color: #fff;
}

.schedule-description {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}
.schedule-description .schedule-text {
  padding: 100px 80px 200px 90px;
  width: 60%;
}
.schedule-description .schedule-text h1 {
  width: 80%;
  font-size: 2.5rem;
  font-weight: 900;
  color: #011F45;
  line-height: 1.3;
}
.schedule-description .schedule-text p {
  font-size: 25px;
  line-height: 1.5;
  color: #223C5D;
  padding-top: 40px;
}
.schedule-description .schedule-img {
  width: 40%;
  display: flex;
  justify-content: flex-end;
  padding-left: 140px;
}
.schedule-description .schedule-img .schedule-img-bck {
  width: 300px;
  height: 80%;
  background-color: #c20909;
  border-bottom-left-radius: 53px;
  background-image: url("/images/illustarted-purple-forms.jpg");
}
.schedule-description .schedule-img .schedule-ux-img {
  width: 400px;
  height: 400px;
  background-color: #8E2091;
  margin-left: -160px;
  margin-top: 50px;
  border: solid 8px #fff;
}

.schedule-container {
  display: flex;
  justify-content: center;
}

.schedule-days {
  background-color: #F5F5F5;
  width: 58%;
  height: auto;
  border-radius: 9px;
  padding-bottom: 20px;
  margin-bottom: 160px;
  box-shadow: 0 2px 12px rgba(0, 40, 117, 0.08);
}

.btn-container {
  width: 100%;
  display: flex;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
}
.btn-container button {
  width: 140px;
  height: 50px;
  border: none;
  background-color: #fff;
  color: #223C5D;
  font-size: 20px;
  cursor: pointer;
}
.btn-container button:hover {
  background-color: #FFD052;
}
.btn-container .first-monday {
  border-top-left-radius: 9px;
}
.btn-container .second-monday {
  border-top-right-radius: 9px;
}
.btn-container .active-schedule {
  background-color: #CB2350;
  color: #fff;
}
.btn-container .active-schedule::after {
  content: "";
  width: 100%;
  height: 5px;
  position: relative;
  top: 22%;
  background-color: #FFD052;
  display: block;
}

.schedule-content {
  padding: 20px 0px 20px 80px;
}

.image-text {
  display: flex;
  padding-top: 40px;
}
.image-text img {
  width: 200px;
  height: 180px;
  object-fit: cover;
  border: solid 4px #FFD052;
}

.schedule-texts {
  background-color: #F5F5F5;
  padding: 0 40px 0;
  color: #011F45;
}
.schedule-texts h3 {
  font-size: 22px;
  line-height: 1.5;
}
.schedule-texts h4 {
  font-size: 18px;
  color: #8E2091;
  line-height: 1.9;
}
.schedule-texts p {
  font-size: 22px;
  line-height: 1.5;
}

.schedule-content {
  display: none;
}

.schedule-content.active-schedule {
  display: block;
}

.curved-illu {
  width: 100%;
  height: 90px;
  background-color: #8E2091;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.booking {
  background-color: #fff;
  width: 100%;
  height: auto;
  padding-top: 76px;
}

.book-text-img {
  display: flex;
  height: auto;
}
.book-text-img .booking-text {
  width: 70%;
  padding: 80px 100px 80px 100px;
}
.book-text-img .booking-text h1 {
  font-size: 2.5rem;
  font-weight: 900;
  color: #011F45;
  width: 70%;
  padding-bottom: 80px;
}
.book-text-img .booking-text p {
  font-size: 25px;
}
.book-text-img .booking-pass {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 20px;
  padding: 100px 0 60px;
}
.book-text-img .booking-pass .text {
  display: flex;
}
.book-text-img .booking-pass .text .text-descript {
  width: 80%;
  padding: 20px;
  background-color: #335E95;
  border-top-left-radius: 9px;
}
.book-text-img .booking-pass .text .text-descript h3 {
  font-size: 20px;
  font-weight: 900;
  color: #fff;
}
.book-text-img .booking-pass .text .text-descript p {
  color: #fff;
  line-height: 1.2;
  padding: 20px 0 12px;
}
.book-text-img .booking-pass .text .buy {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  font-size: 22px;
  font-weight: 900;
  background-color: #223C5D;
  color: #fff;
  border-top-right-radius: 9px;
  cursor: pointer;
}
.book-text-img .booking-pass .colour {
  background-color: #8B1F93;
  height: 25.38px;
  display: flex;
  justify-content: flex-end;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
}
.book-text-img .booking-pass .colour p {
  color: #fff;
  margin-top: -27px;
  margin-right: 43px;
  font-size: 30px;
  font-weight: 900;
  text-shadow: 0 3px 2px #000;
}
.book-text-img .booking-image {
  width: 30%;
  height: 91vh;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-left: 80px;
}
.book-text-img .booking-bck-img {
  width: 300px;
  height: 80%;
  background-color: aliceblue;
  border-top-left-radius: 53px;
  background-image: url("/images/illustarted-purple-forms.jpg");
}
.book-text-img .booking-bck-img .book-image {
  width: 350px;
  height: 350px;
  background-color: purple;
  margin-left: -100px;
  margin-top: 120px;
  border: solid 8px #fff;
}

.form-book {
  padding: 20px 0 30px 100px;
}
.form-book p {
  font-size: 25px;
  color: #011F45;
  line-height: 1.5;
}
.form-book .appointment {
  font-weight: 800;
}

.book {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 20px;
  padding: 80px 0 200px 15%;
}
.book form {
  display: flex;
  flex-direction: column;
}
.book form input {
  height: 63.25px;
  margin-bottom: 20px;
  border-radius: 9px;
  border: solid 2px #8B1F93;
  font-size: 20px;
  padding-left: 15px;
}
.book form button {
  height: 66.19px;
  border: none;
  border-radius: 50px;
  background-color: #8B1F93;
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  cursor: pointer;
}
.book .seat-left {
  display: flex;
  justify-content: center;
  align-items: center;
}
.book .seat-left p {
  width: 300px;
  height: 300px;
  font-size: 30px;
  font-weight: 900;
  color: #fff;
  background-color: #CE2553;
  display: flex;
  justify-content: center;
  align-items: center;
}

.training {
  background-color: #fff;
  width: 100%;
  height: auto;
  padding: 75px 0 160px 0;
  display: flex;
}

.training-image-section {
  width: auto;
  z-index: 10;
}
.training-image-section .training-image-bck {
  width: 300px;
  height: 480px;
  background-color: #fff;
  background-image: url("/images/illustarted-purple-forms.jpg");
  border-bottom-right-radius: 53px;
  padding: 60px;
}
.training-image-section .training-image-bck .trainin-img {
  width: 350px;
  height: 350px;
  background-color: #8E2091;
  border: solid 8px #fff;
}

.training-description {
  width: auto;
  padding: 100px 0 20px 200px;
}
.training-description h1 {
  font-size: 2.5rem;
  font-weight: 900;
  color: #011F45;
}
.training-description p {
  font-size: 25px;
  line-height: 1.5;
  color: #223C5D;
  padding: 40px 160px 60px 0;
}
.training-description button {
  width: 220px;
  font-size: 22px;
  font-weight: 600;
  background-color: #fff;
  color: #8E2091;
  padding: 20px;
  border: none;
  border-radius: 100px;
  box-shadow: 3px 5px 6px 0px #0000004d;
  cursor: pointer;
}

.courses {
  width: 100%;
  height: auto;
  background-color: #F5F5F5;
}
.courses h1 {
  font-size: 2.5rem;
  font-weight: 900;
  color: #011F45;
  padding: 100px 0 20px 200px;
}

.curved-form {
  width: 100%;
  height: 71px;
  background-color: purple;
}

.all-courses {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 20px;
  padding: 90px 250px 200px 250px;
}
.all-courses .courses-lesson .lesson-title {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-radius: 9px;
  box-shadow: 0px 2px 2px 0px #0000004d;
}
.all-courses .courses-lesson .lesson-title p {
  font-size: 25px;
  font-weight: 500;
  color: #011F45;
  padding-right: 50px;
}
.all-courses .courses-lesson .lesson-title button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #fff;
  cursor: pointer;
}
.all-courses .courses-lesson .lesson-title button .plus-icon, .all-courses .courses-lesson .lesson-title button .minus-icon {
  color: #8E2091;
}
.all-courses .courses-lesson .lesson-title button .minus-icon {
  display: none;
}
.all-courses .lesson-text-img {
  padding: 20px;
  background-color: #fff;
  display: none;
}
.all-courses .lesson-text-img .lesson-img {
  width: 100%;
  height: 200px;
  background-color: #FFD052;
  border-radius: 9px;
  margin-bottom: 40px;
}
.all-courses .lesson-text-img .lesson-img img {
  width: 100%;
  height: 200px;
  border-radius: 9px;
  object-fit: cover;
}
.all-courses .lesson-text-img .hours-rating {
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.all-courses .lesson-text-img .hours-rating p {
  font-size: 22px;
  display: flex;
}
.all-courses .lesson-text-img .hours-rating p .fas {
  color: #FFD052;
  height: 2px;
}
.all-courses .lesson-text-img .content-hour {
  color: #CB2350;
}
.all-courses .lesson-text-img p {
  font-size: 25px;
  line-height: 1.5;
  padding-bottom: 20px;
}
.all-courses .lesson-text-img p .read-more {
  font-size: 20px;
  font-weight: 600;
  color: #8E2091;
  cursor: pointer;
  padding-top: 20px;
}
.all-courses .lesson-text-img button {
  background-color: #FFD052;
  color: #000;
  padding: 15px;
  border: none;
  border-radius: 50px;
  font-size: 20px;
  cursor: pointer;
}

hr {
  margin-bottom: 200px;
}

.cart {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  display: flex;
}

.cart-item-price {
  width: 80%;
  height: 100vh;
  padding: 60px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart-item-price .container {
  width: 1500px;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 20px;
}
.cart-item-price .cart-container {
  background-color: #fff;
  padding: 60px 20px 30px;
  border: solid 1px #8E2091;
  border-radius: 9px;
  box-shadow: 2px 2px 4px #00000052;
}
.cart-item-price .cart-container article {
  width: 100%;
  height: auto;
  background-color: #fff;
  border: solid 1px #8E2091;
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
  border-left-width: 10px;
  margin-bottom: 20px;
  display: flex;
}
.cart-item-price .cart-container article:hover {
  box-shadow: 2px 2px 4px #00000052;
  border-left-color: #8E2091;
  border-left-width: 10px;
}
.cart-item-price .cart-container article img {
  width: 150px;
  height: auto;
  object-fit: cover;
  margin-left: 2px;
}
.cart-item-price .cart-container article .article-description {
  padding: 10px;
}
.cart-item-price .cart-container article .article-description h4 {
  color: #011F45;
  font-size: 1.375rem;
  font-weight: 900;
}
.cart-item-price .cart-container article .article-description p {
  font-size: 1.375rem;
  padding-top: 10px;
}
.cart-item-price .cart-container article .article-description .price-num-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
}
.cart-item-price .cart-container article .article-description .price-num-items .price, .cart-item-price .cart-container article .article-description .price-num-items .fas, .cart-item-price .cart-container article .article-description .price-num-items .increase, .cart-item-price .cart-container article .article-description .price-num-items .decrease {
  color: #CE2553;
}
.cart-item-price .cart-container article .article-description .price-num-items .fas, .cart-item-price .cart-container article .article-description .price-num-items .increase, .cart-item-price .cart-container article .article-description .price-num-items .decrease {
  cursor: pointer;
  font-weight: 900;
}
.cart-item-price .price-container .total-price {
  width: 70%;
  height: 300px;
  background-color: #fff;
  border: solid 1px #8E2091;
  border-radius: 9px;
  box-shadow: 2px 2px 4px #00000052;
  padding: 50px;
}
.cart-item-price .price-container .total-price h4 {
  color: #011F45;
  font-size: 1.5625rem;
}
.cart-item-price .price-container .total-price p {
  color: #CE2553;
  font-size: 3.125rem;
  font-weight: 900;
  padding: 15px 0 30px;
}
.cart-item-price .price-container .total-price .btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart-item-price .price-container .total-price .btn button {
  padding: 15px;
  width: 200px;
  border: none;
  border-radius: 100px;
  box-shadow: 2px 2px 4px #00000052;
  background-color: #FFD052;
  font-size: 1.375rem;
  font-weight: 900;
  cursor: pointer;
}

.section-illu-img {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.illu-img-bck {
  width: 70%;
  height: 70%;
  background-image: url("/images/illustarted-purple-forms.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  border-bottom-left-radius: 53px;
}
.illu-img-bck .image-cart {
  width: 250px;
  height: 250px;
  border: solid 8px #fff;
  margin-top: 160px;
  margin-left: -80px;
  background-color: #8E2091;
}

.form-modal-container {
  width: 100%;
  height: auto;
}

.modal-overlay {
  width: 100%;
  height: 100vh;
  background-color: rgba(21, 42, 70, 0.664);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-container {
  background-color: #fff;
  padding: 30px 0 30px 30px;
  display: flex;
  overflow: hidden;
}

.register-form, .login-form {
  background-color: #fff;
}
.register-form h4, .login-form h4 {
  font-size: 1.575rem;
  color: #8E2091;
  padding: 60px 0 15px 40px;
}
.register-form form, .login-form form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px;
}
.register-form form input, .login-form form input {
  width: 280px;
  padding: 15px;
  border: solid 1px #8E2091;
  border-radius: 9px;
}
.register-form form button, .login-form form button {
  padding: 15px;
  border: none;
  border-radius: 50px;
  background-color: #8E2091;
  color: #fff;
  font-size: 1.5625rem;
  font-weight: 500;
  cursor: pointer;
}

.login-form form {
  margin-top: 20px;
}

.active-form {
  border: solid 1px #8E2091;
  border-radius: 9px;
}

.close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: none;
  background-color: #011F45;
  margin-top: -30px;
  cursor: pointer;
}
.close-btn .fas {
  color: #CE2553;
}

.details {
  height: auto;
  background-color: #fff;
  padding-top: 75px;
  padding-bottom: 160px;
}
.details h2 {
  color: #011F45;
  font-size: 2.5rem;
  font-weight: 900;
  padding: 100px 0 60px 110px;
}
.details .image-details {
  display: flex;
  justify-content: center;
  align-items: center;
}
.details .image-details img {
  width: 85%;
  height: 250px;
  background-size: cover;
  object-fit: cover;
  border-radius: 9px;
}
.details .details-decription {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 60px;
}
.details .details-decription p {
  font-size: 1.375rem;
  color: #CE2553;
}
.details .details-decription .details-rating {
  display: flex;
  justify-content: center;
  align-content: flex-start;
  gap: 15px;
}
.details .details-decription .details-rating .fas {
  color: #FFD052;
}
.details .detail-text {
  padding: 60px 100px 100px;
}
.details .detail-text p {
  color: #011F45;
  font-size: 1.375rem;
  line-height: 1.9;
}
.details .courses-content {
  margin: 60px 100px 0 100px;
  box-shadow: 0px 2px 2px 0px #0000004d;
  border-radius: 9px;
}
.details .courses-content .content-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 25px;
  border-radius: 9px;
  box-shadow: 0px 2px 2px 0px #0000004d;
}
.details .courses-content .content-title p {
  font-size: 25px;
  font-weight: 500;
  color: #011F45;
}
.details .courses-content .content-title button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #fff;
  cursor: pointer;
}
.details .courses-content .content-title button .plus-icon, .details .courses-content .content-title button .minus-icon {
  color: #8E2091;
}
.details .courses-content .content-title button .minus-icon {
  display: none;
}
.details .courses-text {
  padding-top: 30px;
  padding: 25px;
  display: none;
}
.details .courses-text p {
  color: #011F45;
  font-size: 1.375rem;
  line-height: 1.9;
}
.details .details-btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 100px 0 60px 100px;
}
.details .details-btn button {
  width: 250px;
  padding: 20px;
  background-color: #FFD052;
  color: #fff;
  border: none;
  border-radius: 100px;
  font-size: 1.5625rem;
  font-weight: 600;
  cursor: pointer;
}

/*# sourceMappingURL=styles.css.map */
