$font-family: 'Lato',sans-serif;
$font-size: 1.125rem;
$font-Weight-400: 400;
$font-Weight-700: 700;
$font-Weight-900: 900;
$gray-Colour: #F5F5F5;
$text-Colour: #000;
$purple-Colour: #8B1F93;



.nav-container {
  width: 100%;
  height: auto;
  background-color: $gray-Colour;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1px 10%;
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-Weight-700;
  z-index: 10000;
  position: fixed;

  .logo {
    cursor: pointer;
    margin-right: auto;
  }

  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin: 0;
    padding: 0;

    li {
      list-style-type: none;
      padding: 20px 0 20px 0;

      a {
        //background-color: blue;
        padding: 20px 0 20px;
        text-decoration: none;
        cursor: pointer;
        color: $text-Colour;
      }
    }
  }

  .cart-connect-container{
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    button{
      border: none;
      border-radius: 20px;
      padding: 10px 20%;
      font-size: $font-size;
      font-weight: $font-Weight-700;
      color: $purple-Colour;
      background-color: #fff;
      cursor: pointer;
    }
  }
}

.nav-scrolled{
  box-shadow: 0 0 5px rgba(28, 28, 28, 0.297);
}